h1,
table {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 70%;
}

th,
td {
  padding: 1.5rem;
  font-size: 1rem;
}

tr {
  background: hsl(50, 50%, 80%);
}

tr,
td {
  transition: .4s ease-in;
}

tr:nth-child(even) {
  background: hsla(50, 50%, 80%, 0.7);
}

.th-in {
  margin-left: 25px;
  
}

.progress {
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.progress-bar-text {
  float: right;
  font-size: 15px;
  color: #f00;
}

.progress-bar {
  background-color: #a9f1f0;
  height: 100%;
  border-radius: 5px;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  padding-right: 2px;
  text-align: right;
}

@media (min-width: 550px) {
  .row {
    margin-bottom: 20px;
  }
}

.col-1 {
  flex: 0 0 auto;
  width: 12.5%;
}

.col-2 {
  flex: 0 0 auto;
  width: 20%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33%;
}

.fat-col-2 {
  flex: 0 0 auto;
  width: 2%;
}

.vfat-col-3 {
  flex: 0 0 auto;
  width: 3.33%;
}

.mus-col-3 {
  flex: 0 0 auto;
  width: 2.5%;
}

.ratate {
  transform: rotate(-90deg);
  white-space: nowrap;
  font-size: 12px;
}

.p {
  margin-bottom: 50px;
  font-size: 1.2rem;
}